*
{
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}
h1{
    margin: 20px;
    padding: 0;
}
.grid
{
    display: grid;
    width: 30%;
    margin-top: 100px;
    margin-right: 500px;
    margin-left: 480px;
    height: 40px;
}
.grid ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    }
.grid li{
    border: 1px solid gray;
    margin: 0.2em;
    padding: 0.2em;
    Height: 70px;
    width: 70px;
}
